@page
@model GeoProfsNew.Pages.LeaveRequests.DetailsModel
@using GeoProfsNew.Models

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>LeaveRequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequest.DateStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequest.DateStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequest.DateEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequest.DateEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequest.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequest.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequest.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequest.Status.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LeaveRequest?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
