@page
@model GeoProfs.Pages.LeaveRequests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Inbox</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequest[0].DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequest[0].DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequest[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequest[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequest[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @*<form>
                        <label asp-for="modelItem => item.Status" class="control-label"></label>
                    <select asp-for="LeaveRequest.Status.Id" asp-items="Model.StatusItems" class="form-control">
                </select>
                <input type="submit" value="Save" class="btn btn-primary" />
                </form>*@|
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
